{{ define "main" }}
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-three-quarters">
                <div class="section has-text-centered">
                    <p class="is-size-3 has-text-weight-bold">All content grouped by {{ .Title }}</p>
                </div>

                {{ range $key, $value := .Data.Terms }}
                    <a href="{{ "/" | relLangURL }}{{ $.Data.Plural | urlize }}/{{ $key | urlize }}" class="link black hover-blue">
                    {{ $key }} <span class="f6 gray"> &#8599;</span>
                    </a>
                    {{ range $value.Pages }}
                    <h3>
                        <a href="{{ .Permalink }}" class="link blue">
                            {{ .Title }}
                        </a>
                    </h3>
                    {{ end }}
                {{ end }}

            </div>
        </div>
    </div>
{{ end }}