[submodule "themes/bare"]
	path = themes/bare
	url = https://github.com/orf/bare-hugo-theme.git
[submodule "themes/rajatco/assets/bulma"]
	path = themes/rajatco/assets/bulma
	url = https://github.com/jgthms/bulma.git
