{{ define "main" }}
<div class="container">
    <div class="columns is-centered">
        <div class="column is-three-quarters">
            <div class="section has-text-centered">
                <p class="is-size-3 has-text-weight-bold">Looking for something to read?</p>
                <p class="is-size-5">You've come to the right place!</p>
            </div>
            <div class="section has-text-centered">
                <p class="has-text-black">All content on <a href="/">rajat.co</a> is divided into two main sections: <a href="#">Blog Posts</a> and <a href="#">Shorts</a>. Shorts are... well, <em>shorter!</em> You can even browse all <a href="#">categories</a> and <a href="tags">tags</a> that they are filed in.</p>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="content">
            <div class="tile is-ancestor is-desktop">
                <div class="tile is-parent is-6">
                    <article class="tile is-child notification">
                        <div class="content">
                            <p class="title">Blog Posts</p>


                                <ul>
                                    {{ range (.Paginate ( .Pages.ByPublishDate )).Pages }}
                                    <li class="mb-3">
                                        <a href="{{ .Permalink }}">{{ .Title }}</a>
                                    </li>
                                    {{ end }}
                                </ul>
                                <p>{{ .Paginator.Pages }} {{ .Paginator.HasPrev }} {{ .Paginator.HasNext }}</p>

                        </div>
                    </article>
                </div>
                <div class="tile is-vertical is-6">
                    <div class="tile">
                        <div class="tile is-parent is-vertical">
                            <article class="tile is-child notification is-primary">
                                <p class="title">Vertical...</p>
                                <p class="subtitle">Top tile</p>
                            </article>
                            <article class="tile is-child notification is-warning">
                                <p class="title">...tiles</p>
                                <p class="subtitle">Bottom tile</p>
                            </article>
                            <article class="tile is-child notification is-warning">
                                <p class="title">...tiles</p>
                                <p class="subtitle">Bottom tile</p>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{ end }}